Source: ros-groovy-rqt-gui-py
Section: misc
Priority: extra
Maintainer: "Dirk Thomas <dthomas@willowgarage.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-rospy, ros-groovy-rqt-gui
Homepage: http://ros.org/wiki/rqt_gui_py
Standards-Version: 3.9.2

Package: ros-groovy-rqt-gui-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-rospy, ros-groovy-rqt-gui
Description: rqt_gui_py enables GUI plugins to use the Python client library for ROS.
