Source: ros-indigo-rqt-gui
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-qt-gui
Homepage: http://ros.org/wiki/rqt_gui
Standards-Version: 3.9.2

Package: ros-indigo-rqt-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-catkin, ros-indigo-qt-gui (>= 0.2.18)
Description: rqt_gui provides the main to start an instance of the ROS integrated graphical user interface provided by qt_gui.
