Source: ros-groovy-rqt-gui-cpp
Section: misc
Priority: extra
Maintainer: Aaron Blasdel <ablasdel@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-nodelet,ros-groovy-qt-gui-cpp,ros-groovy-catkin,ros-groovy-qt-gui,ros-groovy-roscpp
Homepage: http://ros.org/wiki/rqt_gui_cpp
Standards-Version: 3.9.2

Package: ros-groovy-rqt-gui-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-qt-gui-cpp,ros-groovy-nodelet,ros-groovy-qt-gui,ros-groovy-roscpp
Description: rqt_gui_cpp enables GUI plugins to use the C++ client library for ROS.
